<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContentValidation.Properties.Settings.IOTConnectionString"
            connectionString="Data Source=66.128.53.208;Initial Catalog=IOT;User ID=UsrIot;Password=UsrIot123@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>